.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

/* sync status */
.status_good{
	color:#ddd;
}
.bought {
    color: #8664C6;
}
.sold {
    color: #1CA1C1;
}

.myhover {
    background: #F4F5F9;
    cursor: pointer;
}

.highlight-green {
    background-color:#e6ffcc;
    cursor: pointer;
}

.highlight-blue {
    background-color:#C4F5F9;
    cursor: pointer;
}
.highlight {
    background-color:#fff5e6;
    cursor: pointer;
}

.highlight-red {
    background-color: #ffe4dd;
    cursor: pointer;
}

.highlight-bold {

    font-weight: 500;
    //color: red;
}

.webix_column div[aria-expanded] {
    background: #F4F5F9;
}


.table-transaction .webix_column div[aria-level="2"] {
    background: #F4F5F9;
}

.table-transaction .webix_column div[aria-level="1"] {
    background: #fff;
}
/*.table-transaction .webix_column div[aria-colindex="1"] {*/
    /*background: #F4F5F9;*/
/*}*/

.loading-table-icon .webix_progress_icon div {
    font-size: 30px;
    margin-left: -15px;
    margin-top: -15px;
}

div[column="2"] div[aria-level="2"] .subrowimage {
    margin-left: 25px;
    height: 100%;
    border-left: 1px solid #bbb !important;
}
div[column="2"] div[aria-level="2"] .subrowimage div {
    height: 50%;
    width: 50%;
    border-bottom: 1px solid #bbb !important;
}

.mdi[value="1"] {
    color: green;
    font-size: 18px;
}

.mdi[value="2"] {
    color: #ddd;
    font-size: 18px;
}

.webix_icon:hover{
    color: #1CA1C1;
    cursor: pointer;
}
i.mdi:hover{
    color: #1CA1C1;
    cursor: pointer;
}

.webix_form .webix_layout_line {
    margin-top: 0px;
}

.webix_toolbar .webix_el_label .webix_el_box {
    font-family: Roboto, sans-serif;
    /*font-size: 22px;*/
    font-weight: normal;
    color: #475466;
    padding-left: 5px;
    letter-spacing: 0px;
}

.webix_icon_btn, .webix_input_icon {
    font-size: 17px;
    width: 20px;
}


.webix_snippet_tag {
    border-radius: 100px;
    background-color: #EBEDF0;
    padding: 4px 12px;
    font-size: 11px;
}

.webix_el_search.custom input{
    padding-right:52px;
}
.webix_el_search.custom .wxi-close{
    font-size:16px;
    margin-top:2px
}
.webix_el_search.custom.no-delete .wxi-close{
    display:none;
}

.startsell_report .webix_column > div, .webix_table_cell {
    /* border-right: 1px solid #EDEFF0; */
    /* padding: 0 12px; */
    border-bottom: 0px solid #EDEFF0;
}


.webix_item_tab{
    border:none !important;
}
.webix_item_tab div{
    height:40px;
    line-height:2em;
    margin-top:-5px;
}
.webix_after_all_tabs{
    background-color:#A4B4BF;
}
.webix_item_tab.webix_selected .listView{
    background-color:lightgreen;
}
.webix_item_tab.webix_selected .formView{
    background-color:red;
}
.webix_item_tab.webix_selected .aboutView{
    background-color:orange;
}

.webix_column > div.webix_cell_select,
.webix_column > div.webix_column_select,
.webix_column > div.webix_row_select {
    background-color:#eee  !important;
    border-bottom : 1px solid #ccc;
    border-right : 1px solid #ccc;

}
.webix_dtable .webix_column > .webix_drag_over.webix_cell {
    background-color: #999 !important;
}
.webix_editing_cell {
    position: relative;
}
.webix_editing_cell:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 1px;
    border-top: 8px solid #ccc;
    border-left: 8px solid transparent;
}

.webix_editing_cell_green {
    position: relative;
}
.webix_editing_cell_green:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0px;
    height: 1px;
    border-top: 8px solid green;
    border-left: 8px solid transparent;
}

.green .webix_el_box{
    color: green;
}

.red .webix_el_box{
    color: red;
}
.my_style .webix_column_green {"text-align": "center", "background" : '#ddFFdd' }

.weekend{ background: #f4f7f4 !important;}

.comment{
    background: #F4F5F9;
    border-radius: 0px 25px 25px 25px;
    margin-top: 25px;
    padding: 5px;
}
.user{
    font-size: 16px;
    display:inline-block;
}
.avatar{
    background-color:#F4F5F9;
    border-radius:50%;
    width:40px;
    height:40px;
    line-height:40px;
    font-weight:500;
    text-align:center;
    color:#1CA1C1;
    display:inline-block;
    margin:0 10px 10px 0px;
}
.webix_comments_icons{
    text-align: center;
    color: #1CA1C1;
    cursor: pointer;
    float:right;
    font-size:24px;
}

.webix_list_item.disabled{
    background: #eee;
    color: #aaa;

}
.metadata_config_check{
    float:left;
    margin:7px;
}

.overall{height:100%; line-height: 26px;}
.name{height:100px; float:left; overflow: hidden;}
.size{padding: 0 10px; width: 100px; text-align: right; float: right;}
.remove_file{float:right; width:15px; padding-left: 10px;}
.status{
    float: right;
    position: relative;
    margin-top: 4px;
    width: 80px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #A4BED4;
    border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.progress{ height: 100%; position: absolute; background-color: #b8e6ff;}
.message{ z-index: 1; width:100%; text-align:center; position: absolute;}
.message.error{ color: #e83b3b;}


.small .webix_icon {
    font-size:15px;
}

.webix_cell.marker{
    background:#ffd;
}

.show-combo-value-break {
    color: #1CA1C1;
    text-decoration: none;
}

.add-to-table {
    color: #1CA1C1;
    text-decoration: none;
    margin-left: -12px;
}

/*.webix_primary button {*/
    /*background-color: #F4F5F9;*/
    /*!*border-radius: 15px;*!*/
/*}*/

/*.webix_primary .webix_icon {*/
    /*color: #777;*/
/*}*/